@font-face{
    font-family: 'googleFont';
    src: url('fonts/GoogleSans-Regular.ttf');
}
*{
    padding: 0;
    margin: 0;
    font-family: "googleFont";
}
body{
    position: relative;
}
/* //////////////////////////////////////////////////////////////////////////// */
/* nav bar  */
nav{
    padding: 10px 20px;
    border-bottom: 1px solid #e1dbdb;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.profile_image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.text_under{
    text-decoration: none;
    font-size: 24px;
    color: #5f6368;
}
.text_under:hover{
    text-decoration: underline;
    color:#1e8e3e ;
}
.profile_box{
    width: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_link{
    padding: 2px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
}
.nav_link:hover{
    background-color: #eff0f0;
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 13rem;
}
.classroom_logo img{
    width: 30px;
    padding-right: 10px;
    height: 30px;
    cursor: pointer;
}
.classroom_logo{
    display: flex;
    align-items: center;

}


/* /* /////////////////////////////////////////////////////////////////////////// */

/* Aside section */
.aside{
    width: 20vw;
    border-right: 1px solid#e1dbdb;
    height: 90vh;
}
.box{
    display: flex;
    flex-direction: column;
    border-bottom:1px solid #e1dbdb;
    padding: 10px 0px;
}
.active{
    background-color: #e3eefd;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
}
.aside_link{
    text-decoration: none;
    padding: 5px 0px 10px 10px;
    color: #3c4043;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 14px;
    width:18vw ;
}

.text_icon{
    padding-left: 20px;
}
.icon{
    margin-left: 20px;
}
.selfmade_icon{
    font-size:13px;
    color: white;
    line-height: 2rem;
    width: 32px;
    height: 32px;
    margin-left: 16px;
    background-color: #007b83;
    border-radius: 50%;
    text-align: center;
}
.aside_link:not(.active):hover{
    background-color: #f6f6f6;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}

.main{
    display: flex;
}
.section{
    display: flex;
    align-items: start;
    padding: 20px;
}
.help_icon{
    position: absolute;
    bottom: 30px;
    right: 30px;
}
